[access "refs/*"]
  read = group sf-core
  owner = group sf-ptl
  create = group sf-core
[access "refs/heads/*"]
    label-Verified = -2..+2 group sf-ptl
    label-Code-Review = -2..+2 group sf-core
    label-Workflow = -1..+1 group sf-core
    rebase = group sf-core
    abandon = group sf-core
    submit = group sf-ptl
    read = group sf-core
    create = group sf-core
    push = group sf-core
[access "refs/tags/*"]
    pushTag = group sf-core
    pushSignedTag = group sf-core
    create = group sf-core
[access "refs/meta/config"]
    read = group sf-core
[receive]
    requireChangeId = true
[submit]
    mergeContent = true
    action = merge if necessary
[project]
        description = The ansible configuration dhall binding
